
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FA8C1E;
}

.card-box-container{
  border: 3px solid black;
  width: 70vw;
  height: 80vh;
  overflow: scroll;
  border-radius: 20px;
  background: white;
}

.card-box-container::-webkit-scrollbar {
  display: none;}
