
body{
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FA8C1E;
}

@media only screen and (max-width: 800px) {
  body{

    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;
  }
}

.card-box-container{
  border: 3px solid black;
  width: 70vw;
  height: 80vh;
  overflow: scroll;
  border-radius: 20px;
  background: white;
}

.card-box-container::-webkit-scrollbar {
  display: none;}


.welcome-page-mobile{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15vh;
}

.mobile-anchors{
  color: black;
  font-family: 'BiotifBold';
  text-decoration-color: #FA8C1E;
}

@media only screen and (max-width: 800px){
  a i{
    color: #FA8C1E;
  }
}

hr {
  opacity: 0.75;
  background-color: #fff;
	border-top: 4px dotted #FA8C1E;
}

#my_name{
  // font-size: 0.4em !important;
}